* {
  box-sizing: border-box;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #053F68;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

.listImage {
  max-height: 15vh;
  width: auto;
  text-align: left;
}

ul {
  list-style: none;
}

li {
  margin: 1rem;
}

.liContainerDiv {
  display: flex;
  justify-content: flex-start;
}

.leftDiv {
  max-width: 25%
}

.clickMe {
  font-size: 12px;
}



@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
