html, body {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
  font-size: 12px;
}

.App {
  text-align: center;
  font-family: 'Lato', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: space-around;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #032237;
  height: 150px;
  padding: 20px;
  color: white;
  font-family: 'Roboto', sans-serif;
}

.App-intro {
  font-size: large;
}

.listImage {
  height: auto;
  width: 100%;
  text-align: left;
}

ul {
  list-style: none;
}

li {
  margin: 1rem;
  border-bottom: 1px solid #ccc;
}

.liContainerDiv {
  display: flex;
  justify-content: flex-start;
}

.leftDiv {
  width: 30%;
  padding-top: 5%;
  padding-bottom: 5%;
}

.clickMe {
  font-size: 9px;
}
.rightDiv {
  padding: 5%;
  width: 65%;
  text-align: left;
}
.deleteDiv {
  display: flex;
  padding-bottom: 2%;
  justify-content: center;
}

.deleteButton {
  background-color: red;
  color: white;
  padding: .5rem 1rem;
  border: none;
  border-radius: 3px;
  min-width: 150px;
}

.deleteButton:hover {
  color: #ccc;
}

.App-search-container {
  margin: 1rem 1rem;
}

.App-search-form{
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
}

.searchInput {
  border: 0.5px solid #032237;
  font-family: 'Lato', sans-serif;
  border-radius: 3px;
  outline: none;
  height: 22px;
  padding: 0 1rem;
  margin-right: 1rem;
}

.form-container_button{
  margin: 0 0 2rem 0;
  min-width: 150px;
}

.App-form-container {
  align-self: center;
  width: 80%;
  border: 0.5px solid #032237;
  box-shadow: hsla(204, 95%, 22%, 0.16);
  margin: 1rem auto;
  padding: 0 0 1rem 0;
}

.formInputs {
  border: 0.5px solid #032237;
  font-family: 'Lato', sans-serif;
  border-radius: 3px;
  outline: none;
  width: 70%;
  height: 22px;
  margin-bottom: 1rem;
  padding: 0 1rem;
}

.center {
  margin: 0 auto;
}

.button {
  min-width: 150px;
  height: 25px;
  padding: 0 1rem;
  background-color: #d9d9d9;
  color: #032237;
  border: 1px solid #d9d9d9;
  border-radius: 3px;
}

.button:hover {
  background-color: #032237;
  color: #d9d9d9;
  border: 1px solid #032237;
}

.App-footer {
  margin-top: 2rem;
  padding: 0.5rem;
  background-color: #032237;
  position: static;
  bottom: 0;
  width: 100%;
}

.App-footer-text {
  color: #d9d9d9;
  font-size: 10px;
  text-align: center;
}

@media (min-width: 420px) {

  .leftDiv {
    margin-right: 5%;
  }

  .rightDiv {
    margin-right: 0;
  }

  .App-form-container {
    width: 60%;
  }

}

@media (min-width: 699px) {

  html, body {
    font-size: 16px;
  }

  .leftDiv {
    min-height: 200px;
  }

  .listImage {
    height: auto;
    width: 150px;
    text-align: left;
    margin-top: 5%;
  }

}
